@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

td {
  padding: .25em 1em;
  border: 1px solid black;
}

tr td:last-child {
  background: $body-bg!important;
  border: none;
  &:after {
    opacity: 1!important;
  }
}